[Unit]
Description=CREMA API
After=network.target
Wants=network.target

[Service]
Type=simple
User=roncofaber
WorkingDirectory=/home/roncofaber/crema
ExecStart=/home/roncofaber/crema/venv/bin/crema serve
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
